<% form_for([account, employee]) do |f| %>
  <%= f.error_messages%>
  <p><%= f.label :first_name, "* First Name" %></p>
  <p><%= f.text_field :first_name %></p>

  <p><%= f.label :last_name, "* Last Name" %></p>
  <p><%= f.text_field :last_name %></p>

  <p><%= f.label :salary, "* Salary" %></p>
  <p><%= f.text_field :salary %></p>

  <p>* means it's a mandatory field</p>
  <p><%= f.submit f.object.new_record? ? "Create" : "Update" %></p>
<% end %>
<p><%= link_to "Back to the list of employees", @account %></p>